{% extends "base.html" %}
{% block content %}
<main class="container py-5">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body">
                <h1> Registrarse</h1>
                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">Usuario</label>
                    <input type="text" name="username" id="username" placeholder="Escribe tu usuario..."
                        class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="password1">Contraseña</label>
                    <input type="password" name="password1" id="password1" placeholder="Escribe tu contraseña..."
                        class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password2">Confirmar Contraseña</label>
                    <input type="password" name="password2" id="password2" placeholder="Repite tu contraseña..."
                        class="form-control" required>
                </div>
                <button class="btn btn-dark">
                    Registrarse
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}